* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prim-red: rgb(229, 9, 20);
    --prim-black: rgb(0, 0, 0);
    --prim-white: rgb(255, 255, 255);
    --prim-border-color: rgb(34, 34, 34);
}

body {
    color: var(--prim-white);
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial,sans-serif;
    background: var(--prim-black);
    font-size: 16px;
    min-width: 320px;
}

header {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .8) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%,rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5)), url('images/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
    position: relative;
    padding-bottom: .4rem;
    border-bottom: 8px solid var(--prim-border-color);
}

header div.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 4rem;
    padding: 30px 0 0 0;
    height: 80px;
}

header div.header-wrapper img.netflix-logo {
    width: 12rem;
}

header div.header-wrapper a {
    text-decoration: none;
    color: var(--prim-white);
    background-color: var(--prim-red);
    font-family: 'Netflix Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: .25rem;
}

header div.hero-content {
    margin: 8rem auto 3rem;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header div.hero-content h1 {
    font-size: 3.2rem;
    line-height: 1.1;
}

header div.hero-content h2 {
    margin-top: 1rem;
    font-size: 1.66rem;
    font-weight: 400;
}

/* GENERIC STYLES FOR ALL CTA FORM*/

div.cta-container {
    top: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

div.cta-container > h3 {
    font-weight: 400;
    text-align: center;
}

div.cta-container div.cta-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    margin: 1.2rem auto 0;
}

div.cta-container div.cta-form input {
    font-size: 1.125rem;
    padding: 10px 10px 10px;
    width: 68%;
    height: 3.8rem;
    outline: 0;
    border: 1px solid #8c8c8c;
    border-radius: 4px 0 0 4px;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--prim-white);
    color: var(--prim-black);
}

div.cta-container div.cta-form button.cta-btn {
    background-color: var(--prim-red);
    border: none;
    outline: 0;
    width: 28%;
    height: 3.8rem;
    border-radius: 0 4px 4px 0;
    padding: 1rem 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.cta-container div.cta-form button.cta-btn a {
    color: var(--prim-white);
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
}

div.cta-container div.cta-form button.cta-btn a span {
    color: var(--prim-white);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
}


/*-----     SECTIONS     -----*/
main section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*-----     SECTION 1     -----*/
main section#sect-1 {
    padding: 1rem 4rem 3.125rem;
    border-bottom: 8px solid var(--prim-border-color);
}

main section#sect-1 div.section-text {
    max-width: 50%;
}

main section#sect-1 div.section-text h1 {
    font-size: 3.2rem;
    margin-bottom: 1.25rem;
    width: 100%;
}

main section#sect-1 div.section-text h2 {
    font-size: 1.625rem;
    font-weight: 400;
    width: 80%;
}

main section#sect-1 div.card-img-1 {
    max-height: 398px;
    max-width: 50%;
}

main section#sect-1 div.card-img-1 img {
    max-height: 368px;
    max-width: 500px;
    object-fit: cover;
}

main section#sect-1 div.card-img-1 div .video-tv {
    position: relative;
    left: 4.04em;
    top: -19.25em;
    width: 24em;
    z-index: -1;
}


/*-----     SECTION 2     -----*/
main section#sect-2 {
    padding: 1.5rem 3rem 4rem;
    border-bottom: 8px solid var(--prim-border-color);
}

main section#sect-2 div.card-img-2 {
    max-height: 379px;
    max-width: 490px;
}

main section#sect-2 div.card-img-2 img {
    max-width: 490px;
    max-height: 379px;
    object-fit: cover;
    margin: 1rem auto auto -5rem;
}

main section#sect-2 div.section-text {
    max-width: 550px;
    max-height: 379px;
    margin-left: -6rem;
}

main section#sect-2 div.section-text h1 {
    font-size: 3.2rem;
    margin-bottom: 1.25rem;
}

main section#sect-2 div.section-text h2 {
    font-size: 1.625rem;
    font-weight: 400;
}


main section#sect-2 div.card-img-2 > div {
    position: relative;
    top: -7.3em;
    width: 325px;
    height: 5.5em;

    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;

    background-color: #000000;
    border: 2px solid #8c8c8c;
    border-radius: 10px;
}

main section#sect-2 div.card-img-2 > div img:nth-of-type(1) {
    width: 3.2em;
    position: relative;
    left: 5.8em;
    bottom: .68em;
}

main section#sect-2 div.card-img-2 > div div {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    position: relative;
    right: 1.6em;
}

main section#sect-2 div.card-img-2 > div div h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

main section#sect-2 div.card-img-2 > div div p {
    color: rgb(9, 58, 238);
}

main section#sect-2 div.card-img-2 > div img:nth-of-type(2) {
    width: 3em;
    position: relative;
    left: 7.5em;
    top: .3em;
}




/*-----     SECTION 3     -----*/
main section#sect-3 {
    padding: 1.5rem 3rem 4rem;
    border-bottom: 8px solid var(--prim-border-color);
    justify-content: flex-start;
}
        
main section#sect-3 div.section-text {
    max-width: 550px;
    max-height: 379px;
    margin-left: 4rem;
    margin-top: 2rem;
}
        
main section#sect-3 div.section-text h1 {
    font-size: 3.2rem;
    margin-bottom: 1.25rem;
}
        
main section#sect-3 div.section-text h2 {
    font-size: 1.625rem;
    font-weight: 400;
}
   
    
 /*-----     SECTION 4     -----*/
 main section#sect-4 {
    padding: 2.5rem 5rem 2.8rem;
    border-bottom: 8px solid var(--prim-border-color);
}
    
main section#sect-4 div.card-img-3 {
    max-height: 500px;
    /* max-width: 490px; */
    max-width: 50%;
    margin: 1rem auto 3rem;
}

main section#sect-4 div.card-img-3 img {
    max-width: 410px;
    max-height: 300px;
    object-fit: cover;
}

main section#sect-4 div.section-text {
    max-width: 50%;
    max-height: 379px;
}

main section#sect-4 div.section-text h1 {
    font-size: 3.2rem;
    margin-bottom: 1.1rem;
}

main section#sect-4 div.section-text h2 {
    font-size: 1.625rem;
    font-weight: 400;
    max-width: 530px;
}


 /*-----     SECTION 5 - Accordion Menu     -----*/
main section#sect-5 {
    padding: 2.5rem 5rem 2.8rem;
    border-bottom: 8px solid var(--prim-border-color);

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section#sect-5 h1 {
    font-size: 3.05rem;
    margin-bottom: 1.1rem;
}

main section#sect-5 div.faq-accordion {
    max-width: 815px;
    width: 90%;
}

main section#sect-5 div.faq-accordion details {
    margin: .8rem auto;
}

main section#sect-5 div.faq-accordion details summary {
    background: rgb(48, 48, 48);
    padding: 18px 44px 18px 24px;
    margin-bottom: .3rem;
    width: 100%;
    font-weight: 400;
    font-size: 1.7rem;
    border: 0;
    position: relative;
    list-style: none;
    outline: none;
    cursor: pointer;
}

main section#sect-5 div.faq-accordion details summary span {
    position: absolute;
    transform: scale(2);
    right: 1.5rem;
}

main section#sect-5 div.faq-accordion details p {
    background: rgb(48, 48, 48);
    font-size: 1.4rem;
    padding: 18px 44px 18px 24px;
    text-align: justify;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial,sans-serif;
}


/* STYLE FOR CTA FORM AFTER THE ACCORDION MENU */
div.cta-container:nth-of-type(2) {
    margin-top: 2rem;
}


/* FOOTER */
footer {
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

footer div#question {
    margin: auto;
    width: 85%;
    color: #777;
    text-decoration: none;
    font-size: 1.2rem;
}

footer div#question a {
    color: rgb(119, 119, 119);
    text-decoration: none;
}


footer div.footer-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin: 3rem auto;
    width: 85%;
}

footer div.footer-links-container ul.links {
    width: 190px;
    margin: 0 .5rem;
}

footer .footer-links-container ul.links li {
    list-style: none;
    padding: 1rem 1rem 1rem 0;
}

footer .footer-links-container ul.links li a {
    color: rgb(119, 119, 119);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

footer a:hover {
    border-bottom: 1px solid rgb(119, 119, 119);
}

footer div.footer-country {
    color: rgb(119, 119, 119);
    margin: auto;
    width: 85%;
}






/* MEDIA QUERIES FOR RWD */
@media (max-width: 64rem) {
    header div.header-wrapper {
        margin: 0 2rem;
        height: 60px;
    }
    
    header div.header-wrapper img.netflix-logo {
        width: 8rem;
    }
    
    header div.header-wrapper a {
        font-size: 1.05rem;
        padding: 4px 14px;
    }
    
    header div.hero-content {
        margin: 6em auto 0;
        width: 68%;
    }

    header div.hero-content h1 {
        font-size: 3rem;
    }

    header div.hero-content h2 {
        font-size: 1.33rem;
    }



    /* GENERIC STYLES FOR ALL CTA FORM*/

    div.cta-container {
        width: 60%;
        top: 2.5em;
    }

    div.cta-container h3 {
        width: 80%;
        margin-top: 1em;
    }

    div.cta-container div.cta-form {
        flex-direction: column;
        width: 85%;
        margin: 1rem auto 0;
    }

    div.cta-container div.cta-form input {
        font-size: .9rem;
        padding: 10px 10px 10px;
        width: 100%;
        height: 2.6rem;
        border-radius: 2px;
    }

    div.cta-container div.cta-form button.cta-btn {
        width: fit-content;
        height: 2.6rem;
        padding: .5rem;
        margin-top: 1rem;
        border-radius: 2px;
    }

    div.cta-container div.cta-form button.cta-btn a {
        font-size: 1rem;
    }

    div.cta-container div.cta-form button.cta-btn a span {
        font-size: 1.25rem;
    }

    /* STYLE FOR CTA FORM AFTER THE ACCORDION MENU */
    div.cta-container:nth-of-type(2) {
        top: 1em;
    }

    div.cta-container:nth-of-type(2) h3 {
        text-align: center;
        width: 100%;
    }


    /*-----     SECTION 1     -----*/
    main section#sect-1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main section#sect-1 div.section-text {
        text-align: center;
        max-width: 85%;
    }

    main section#sect-1 div.section-text h2 {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    main section#sect-1 div.card-img-1 {
        max-width: 530px;
    }

    
    /*-----     SECTION 2     -----*/
    main section#sect-2 {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    main section#sect-2 div.card-img-2 img {
        max-width: 490px;
        max-height: 379px;
        object-fit: cover;
        margin: 1rem auto auto;
    }

    main section#sect-2 div.section-text {
        max-width: 550px;
        max-height: 379px;
        margin: 0 auto;
        text-align: center;
    }

    main section#sect-2 div.card-img-2 > div {
        left: 4.9em;
    }

    main section#sect-2 div.card-img-2 > div img:nth-of-type(1) {
        left: -0.9em;
    }

    main section#sect-2 div.card-img-2 > div img:nth-of-type(2) {
        left: 1em;
    }


    /*-----     SECTION 3     -----*/
    main section#sect-3 {
        padding: 1.5rem 3rem 4rem;
        justify-content: center;
    }
            
    main section#sect-3 div.section-text {
        max-width: 550px;
        max-height: 379px;
        margin-left: 4rem;
        margin-top: 2rem;
    }
            
    main section#sect-3 div.section-text h1 {
        font-size: 3.2rem;
        margin-bottom: 1.25rem;
    }
            
    main section#sect-3 div.section-text h2 {
        font-size: 1.625rem;
        font-weight: 400;
    }
    
        
    /*-----     SECTION 4     -----*/
    main section#sect-4 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    main section#sect-4 div.section-text {
        max-width: 570px;
        margin: auto;
        text-align: center;
    }

    main section#sect-4 div.card-img-3 img {
        max-width: 500px;
        max-height: 390px;
    }

    main section#sect-4 div.card-img-3 {
        max-width: 490px;
    }


    /* SECTION 5 */
    main section#sect-5 h1 {
        font-size: 2.8rem;
    }
    
    main section#sect-5 div.faq-accordion {
        width: 100%;
    }

}



@media (max-width: 48rem) {
    header {
        min-height: 100vh;
    }

    header div.header-wrapper {
        margin: auto 2rem;
        height: 60px;
    }
    
    header div.header-wrapper img.netflix-logo {
        width: 7rem;
    }
    
    header div.header-wrapper a {
        font-size: 1rem;
        padding: 4px 12px;
    }
    
    header div.hero-content {
        margin: 8em auto 0;
        width: 69%;
    }

    header div.hero-content h1 {
        font-size: 2rem;
    }

    header div.hero-content h2 {
        font-size: 1.05rem;
    }



    /* GENERIC STYLES FOR ALL CTA FORM*/

    div.cta-container {
        width: 70%;
        top: 0em;
    }

    div.cta-container:nth-of-type(2) {
        margin-bottom: 1.5rem;
    }

    div.cta-container h3 {
        font-size: 1rem;
    }

    div.cta-container div.cta-form {
        flex-direction: column;
        width: 86%;
        margin: .5rem auto 0;
    }

    div.cta-container div.cta-form input {
        font-size: .9rem;
        width: 85%;
        height: 2rem;
    }

    div.cta-container:nth-of-type(2) div.cta-form input {
        width: 95%;
    }

    div.cta-container div.cta-form button.cta-btn {
        width: fit-content;
        height: 2rem;
        padding: .3rem;
        margin-top: 1rem;
        border-radius: 2px;
    }

    div.cta-container div.cta-form button.cta-btn a {
        font-size: .8rem;
    }

    div.cta-container div.cta-form button.cta-btn a span {
        font-size: 1rem;
    }

    /* STYLE FOR CTA FORM AFTER THE ACCORDION MENU */
    div.cta-container:nth-of-type(2) {
        width: 95%;
    }

    div.cta-container:nth-of-type(2) h3 {
        text-align: center;
        width: 86%;
    }


    /*-----     SECTION 1     -----*/
    main section#sect-1 {
        padding-bottom: 0;
    }

    main section#sect-1 div.section-text {
        margin: 2rem auto auto;
    }

    main section#sect-1 div.section-text h1 {
        font-size: 2.1rem;
    }
    
    main section#sect-1 div.section-text h2 {
        font-size: 1.1rem;
        width: 100%;
    }
    
    main section#sect-1 div.card-img-1 img {
        max-height: 218px;
        max-width: 360px;
        object-fit: cover;
    }
    
    main section#sect-1 div.card-img-1 div .video-tv {
        left: 2.3em;
        top: -11.2em;
        width: 13.45em;
    }

    
    /*-----     SECTION 2     -----*/

    main section#sect-2 div.section-text {
        margin: 2rem auto auto;
    }

    main section#sect-2 div.section-text h1 {
        font-size: 2.1rem;
    }

    main section#sect-2 div.section-text h2 {
        font-size: 1.1rem;
        width: 82%;
        text-align: center;
        margin: auto;
    }

    main section#sect-2 div.card-img-2 {
        max-width: 95%;
    }
    
    main section#sect-2 div.card-img-2 img {
        max-width: 360px;
        max-height: 249px;
        object-fit: cover;
        margin: 1rem auto 2rem;
    }

    main section#sect-2 div.card-img-2 > div {
        left: 3em;
        top: -7.3em;
        width: 230px;
        height: 3.8em;
    }

    main section#sect-2 div.card-img-2 > div div {
        left: -1em;
    }

    main section#sect-2 div.card-img-2 > div div h2 {
        font-size: .85rem;
        margin-bottom: .3rem;
    }
    
    main section#sect-2 div.card-img-2 > div div p {
        font-size: .7rem;
    }

    main section#sect-2 div.card-img-2 > div img:nth-of-type(1) {
        width: 2em;
        left: -.5em;
        top: .45em;
    }

    main section#sect-2 div.card-img-2 > div img:nth-of-type(2) {
        width: 2em;
        left: .5em;
        top: 0em;
        margin: auto;
    }


    /*-----     SECTION 3     -----*/
    main section#sect-3 div.section-text {
        width: 95%;
        margin: 2rem auto auto;
        text-align: center;
    }

    main section#sect-3 div.section-text h1 {
        font-size: 2.1rem;
    }
    
    main section#sect-3 div.section-text h2 {
        font-size: 1.1rem;
    }
    
        
    /*-----     SECTION 4     -----*/

    main section#sect-4 div.section-text {
        width: 95%;
        margin: 2rem auto auto;
        text-align: center;
    }

    main section#sect-4 div.section-text h1 {
        font-size: 2.1rem;
    }
    
    main section#sect-4 div.section-text h2 {
        font-size: 1.1rem;
    }

    main section#sect-4 div.card-img-3 {
        max-width: fit-content;
    }
    
    main section#sect-4 div.card-img-3 img {
        max-width: 100%;
        max-height: 365px;
    }


    /* SECTION 5 */
    main section#sect-5 {
        padding: 2.5rem 1.8rem 2.8rem;
    }

    main section#sect-5 h1 {
        font-size: 2.05rem;
        text-align: center;
    }
    
    main section#sect-5 div.faq-accordion {
        max-width: 100%;
        width: 95%;
    }
    
    main section#sect-5 div.faq-accordion details summary {
        padding: 14px 44px 14px 24px;
        width: 100%;
        font-size: 1.3rem;
    }
    
    main section#sect-5 div.faq-accordion details summary span {
        transform: scale(1.8);
        right: 1.5rem;
    }
    
    main section#sect-5 div.faq-accordion details p {
        font-size: 1rem;
        padding: 14px 44px 14px 24px;
    }


    /* FOOTER */
    footer {
        padding: 3rem 1.5rem;
        width: 100%;
        margin: auto;
    }

    footer div#question {
        width: 100%;
        font-size: 1.1rem;
    }

    footer div.footer-links-container {
        width: 100%;
    }

    footer div.footer-links-container ul.links {
        margin: 0 .5rem;
    }

    footer .footer-links-container ul.links li {
        list-style: none;
        padding: 1rem 0rem 1rem 0;
    }

    footer .footer-links-container ul.links li a {
        font-size: .9rem;
    }

    footer div.footer-country {
        width: 100%;
    }
    
}


@media (max-width: 28.75rem) {
    header {
        min-height: 90vh;
    }

    header div.header-wrapper {
        margin: auto 1.9rem;
    }
    
    header div.header-wrapper img.netflix-logo {
        width: 5rem;
    }
    
    header div.header-wrapper a {
        font-size: .8rem;
        padding: 4px 12px;
    }
    
    header div.hero-content {
        margin: 7em auto 0;
        width: 70%;
    }

    header div.hero-content h1 {
        font-size: 1.5rem;
    }

    header div.hero-content h2 {
        font-size: 1rem;
    }


    /* GENERIC STYLES FOR ALL CTA FORM*/

    div.cta-container {
        width: 78%;
    }

    div.cta-container h3 {
        font-size: .9rem;
    }

    div.cta-container div.cta-form {
        width: 78%;
        margin: .5rem auto 0;
    }

    div.cta-container div.cta-form input {
        font-size: .9rem;
        width: 100%;
        height: 1.75rem;
    }

    div.cta-container:nth-of-type(2) div.cta-form input {
        width: 95%;
    }

    div.cta-container div.cta-form button.cta-btn {
        width: fit-content;
        height: 1.5rem;
        padding: .2rem;
    }

    div.cta-container div.cta-form button.cta-btn a {
        font-size: .6rem;
    }

    div.cta-container div.cta-form button.cta-btn a span {
        font-size: .7rem;
    }

    /* STYLE FOR CTA FORM AFTER THE ACCORDION MENU */

    div.cta-container:nth-of-type(2) h3 {
        text-align: center;
        width: 75%;
    }


    /*-----     SECTION 1     -----*/
    main section#sect-1 div.section-text h1 {
        font-size: 1.6rem;
    }
    
    main section#sect-1 div.section-text h2 {
        font-size: .9rem;
        width: 100%;
    }
    
    main section#sect-1 div.card-img-1 img {
        max-height: 168px;
        max-width: 310px;
    }
    
    main section#sect-1 div.card-img-1 div .video-tv {
        left: 1.865em;
        top: -8.7em;
        width: 11em;
    }


    /*-----     SECTION 2     -----*/
    main section#sect-2 div.section-text h1 {
        font-size: 1.6rem;
    }

    main section#sect-2 div.section-text h2 {
        font-size: .9rem;
        width: 100%;
    }

    main section#sect-2 div.card-img-2 {
        max-width: 100%;
        margin: auto;
    }
    
    main section#sect-2 div.card-img-2 img {
        max-width: 310px;
        max-height: 199px;
        margin: 1rem auto 0;
    }

    main section#sect-2 div.card-img-2 > div {
        left: 1em;
        top: -4em;
        width: 200px;
        height: 2.5em;
        border-radius: 6px;
    }

    main section#sect-2 div.card-img-2 > div div {
        left: -1em;
    }

    main section#sect-2 div.card-img-2 > div div h2 {
        font-size: .85rem;
        margin-bottom: .3rem;
    }
    
    main section#sect-2 div.card-img-2 > div div p {
        font-size: .7rem;
    }

    main section#sect-2 div.card-img-2 > div img:nth-of-type(1) {
        width: 2em;
        left: -.5em;
        top: .45em;
    }

    main section#sect-2 div.card-img-2 > div img:nth-of-type(2) {
        width: 2em;
        left: .5em;
        top: 0em;
        margin: auto;
    }

}