* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prim-red: rgb(229, 9, 20);
    --prim-black: rgb(0, 0, 0);
    --prim-white: rgb(255, 255, 255);
    --prim-border-color: rgb(34, 34, 34);
}

body {
    color: var(--prim-white);
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial,sans-serif;
    background: var(--prim-black);
    font-size: 16px;
    min-width: 320px;
}

header {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .8) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%,rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5)), url('images/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
    position: relative;
    padding-bottom: .4rem;
    border-bottom: 8px solid var(--prim-border-color);
}

header div.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 4rem;
    padding: 30px 0 0 0;
    height: 80px;
}

header div.header-wrapper img.netflix-logo {
    width: 12rem;
}

header div.header-wrapper a {
    text-decoration: none;
    color: var(--prim-white);
    background-color: var(--prim-red);
    font-family: 'Netflix Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: .25rem;
}

header div.hero-content {
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}

header div.hero-content h1 {
    font-size: 3.2rem;
    line-height: 1.1;
}

header div.hero-content h2 {
    margin-top: 1rem;
    font-size: 1.66rem;
    font-weight: 400;
}

header div.cta-container {
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
}

div.cta-container > h3 {
    font-weight: 400;
}

div.cta-container div.cta-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    margin: 1.2rem auto 0;
}

div.cta-container div.cta-form > input {
    font-size: 1.125rem;
    padding: 10px 10px 10px;
    width: 68%;
    height: 3.8rem;
    outline: 0;
    border: 1px solid #8c8c8c;
    border-radius: 4px 0 0 4px;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--prim-white);
    color: var(--prim-black);
}

div.cta-container div.cta-form > button.cta-btn {
    background-color: var(--prim-red);
    border: none;
    outline: 0;
    width: 28%;
    height: 3.8rem;
    border-radius: 0 4px 4px 0;
    padding: 1rem 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.cta-container div.cta-form > button.cta-btn a {
    color: var(--prim-white);
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
}

div.cta-container div.cta-form > button.cta-btn a > i {
    color: var(--prim-white);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
}



/*-----     SECTIONS     -----*/
main section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*-----     SECTION 1     -----*/
main section#sect-1 {
    padding: 1rem 4rem 3.125rem;
    border-bottom: 8px solid var(--prim-border-color);
}

main section#sect-1 div.section-text {
    max-width: 550px;
}

main section#sect-1 div.section-text h1 {
    font-size: 3.2rem;
    margin-bottom: 1.25rem;
}

main section#sect-1 div.section-text h2 {
    font-size: 1.625rem;
    font-weight: 400;
}

main section#sect-1 div.card-img-1 {
    max-height: 398px;
    max-width: 530px;
}

main section#sect-1 div.card-img-1 img {
    max-height: 398px;
    max-width: 530px;
    object-fit: cover;
}


/*-----     SECTION 2     -----*/
main section#sect-2 {
    padding: 1.5rem 3rem 4rem;
    border-bottom: 8px solid var(--prim-border-color);
}

main section#sect-2 div.card-img-2 {
    max-height: 379px;
    max-width: 490px;
}

main section#sect-2 div.card-img-2 img {
    max-width: 490px;
    max-height: 379px;
    object-fit: cover;
    margin: 1rem auto auto -5rem;
}

main section#sect-2 div.section-text {
    max-width: 550px;
    max-height: 379px;
    margin-left: -6rem;
}

main section#sect-2 div.section-text h1 {
    font-size: 3.2rem;
    margin-bottom: 1.25rem;
}

main section#sect-2 div.section-text h2 {
    font-size: 1.625rem;
    font-weight: 400;
}


/*-----     SECTION 3     -----*/
main section#sect-3 {
    padding: 1.5rem 3rem 4rem;
    border-bottom: 8px solid var(--prim-border-color);
    justify-content: flex-start;
}
        
main section#sect-3 div.section-text {
    max-width: 550px;
    max-height: 379px;
    margin-left: 4rem;
    margin-top: 2rem;
}
        
main section#sect-3 div.section-text h1 {
    font-size: 3.2rem;
    margin-bottom: 1.25rem;
}
        
main section#sect-3 div.section-text h2 {
    font-size: 1.625rem;
    font-weight: 400;
}
   
    
 /*-----     SECTION 4     -----*/
 main section#sect-4 {
    padding: 2.5rem 5rem 2.8rem;
    border-bottom: 8px solid var(--prim-border-color);
}
    
main section#sect-4 div.card-img-3 {
    max-height: 500px;
    max-width: 490px;
    margin: 1rem auto 3rem;
}

main section#sect-4 div.card-img-3 img {
    max-width: 500px;
    max-height: 390px;
    object-fit: cover;
}

main section#sect-4 div.section-text {
    max-width: 570px;
    max-height: 379px;
    margin: auto 3rem auto auto;
}

main section#sect-4 div.section-text h1 {
    font-size: 3.2rem;
    margin-bottom: 1.1rem;
}

main section#sect-4 div.section-text h2 {
    font-size: 1.625rem;
    font-weight: 400;
    max-width: 530px;
}


 /*-----     SECTION 5 - Accordion Menu     -----*/
 main section#sect-5 {
    padding: 2.5rem 5rem 2.8rem;
    border-bottom: 8px solid var(--prim-border-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

main section#sect-5 h1 {
    font-size: 3.05rem;
    margin-bottom: 1.1rem;
}

main section#sect-5 div.faq-accordion {
    max-width: 815px;
    width: ;
}

main section#sect-5 div.faq-accordion details {
    margin: 1.25em auto;
}

main section#sect-5 div.faq-accordion details summary {
    background: rgb(48, 48, 48);
    padding: 16px 44px 16px 24px;
    width: 100%;
    font-weight: 400;
    border: 0;
    position: relative;
    margin-bottom: 1px;
    list-style: none;
}

main section#sect-5 div.faq-accordion details p {

}